<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-datastructure" role="menuitem"><a href="{{site.baseurl}}tag/datastructure/">자료 구조</a></li>
    <li class="nav-cpp" role="menuitem"><a href="{{site.baseurl}}tag/cpp/">C++</a></li>
    <li class="nav-acmicpc" role="menuitem"><a href="{{site.baseurl}}tag/acmicpc/">백준</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/java/">Java</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>