<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-Data_Structure" role="menuitem"><a href="{{site.baseurl}}tag/Data_Structure/">Data_Structure</a></li>
    <li class="nav-Cpp" role="menuitem"><a href="{{site.baseurl}}tag/Cpp/">C++</a></li>
    <li class="nav-Java" role="menuitem"><a href="{{site.baseurl}}tag/Java/">Java</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>